server:
  port: 8189
  servlet:
    context-path: /
  error:
    include-message: always

jwt:
  secret: secretkeysecretkeysecretkeysecretkeysecretkeysecretkeysecretkey
  lifetime: 1h

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:expenses;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

springdoc:
  api-docs:
    path: /api-docs
